<form action="<%= people_form_action(@person) %>" method="post" id="<%= people_form_id(@person) %>" class="<%= people_form_class(@person) %>">

	<input type="hidden" name="_method" value="<%= people_form_method(@person) %>">
	<div>
		<label for="first_name">First Name:</label>
		<input type="text" name="first_name" value="<%= @person.first_name %>" />
	</div>

	<div>
		<label for="first_name">Last Name:</label>
		<input type="text" name="last_name" value="<%= @person.last_name %>" />
	</div>

	<div>
		<label for="first_name">Birthdate:</label>
		<input type="date" name="birthdate" value="<%= @person.birthdate %>" />
	</div>

	<div>
		<input class="button" type="submit" value="Add Person" />
	</div>

</form>